:root {
    /* Fonts */
    --main-fonts: Roboto, sans-serif; 

    /* Text colours */
     --main-txt-color:#212121;

    /* Background colours */
    --main-bg-color:#F5F4FA;

     /* Others */

}

