:root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /* Text colours */
     --main-txt-color:#212121;
     --light-txt-color: #FFFF;
     --akc-txt-color: #2196F3 ;

    /* Background colours */
    --main-bg-color:#F5F4FA;

     /* Others */

}

/* Reset */


.link {
    text-decoration: none;
    color: currentColor;
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
    color: currentColor;
}

.page {
    font-family:var(--main-font);
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
}



/**   HEADER   **/

.logoweb {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logostudio {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logostudiof {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background-color: #000000;
    color:var(--light-txt-color);
}
.list:hover  {
   
    color:var(--akc-txt-color);
}
.list:focus:{
    color:var(--akc-txt-color);
}
.link:hover {
    color:var(--akc-txt-color);
}
.link:focus {
    color:var(--akc-txt-color);
}


.list-li {
    font-family:var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.list-link {
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
        color: #212121;
}

.list-number {
    color:  #757575;
}
.main {
    background-color: #2F303A;
    color: #FFFFFF;
text-align: center;
}

.btn {
    font-family:inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.85;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #FFFFFF;
cursor: pointer;
}

.group-title {
    font-family:var(--main-font);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  font-size: 14px;
}
.group-text {
    line-height: 1.14; 
    color: #757575;
}

.section-title {
    line-height: 1.16;
    text-align: center;
    font-size: 36px;
}

.team-tittle {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

}
.work-title {
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
}
.work-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
.button {
    cursor: pointer;
    border: none;
    background-color: var(--main-bg-color) ;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--main-txt-color)
}
.button:hover {
    color: var(--akc-txt-color);
}
.button:focus {
    color: var(--akc-txt-color);
}

